#nav1{
    background-color: #eae5d8;
    color: #505655 !important;
}
#about-head{
    background-color: #eae5d8;
    color: #5b5235;
    padding: 100px 0px;
}

/* lato,  sans-serif, amiri,  serif, arial */